/*navigation bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 170px;
    background-color: #333;
    width: 100%;
    float: right;
    
    
    
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 140px;
    height: 150px;
}


li#menu-item-3 {
    
    background: url("gearsblack.png")

}


a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
    
    
}